.header-logo {
    width: 120px;
    height: 50px;
    margin-right: 20px;
}

.user-picture {
    height: 50px;
    width: 50px;
}

.navbar {
    margin-bottom: 0px!important;
}

.navbar-default {
    background-color: white !important;
}